# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- Several open source development environments
- Various examples of mathematical expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scala
5. Go
6. Julia
7. C++
8. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

 Data Science Tools | 
 ------------------ |
 Jupiter |
 RStudio |
 Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

a * (b + 3)

(4 - 3) * (7 + 2)

56 / 2 - 10

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author

Taras Samoilov